<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Cidade</th>
          <th scope="col">Casos confirmados</th>
          <th scope="col">Casos do dia</th>
          <th scope="col">Óbitos do dia</th>
          <th scope="col">Óbitos acumulados</th>
        </tr>
      </thead>
      <tbody>
      {% for dado in dados %}
        <tr>
          <td>{{ dado.data }}</td>
          <td>{{ dado.cidade }}</td>
          <td>{{ dado.casosConfirmados}}</td>
          <td>{{ dado.casosDia}}</td>
          <td>{{ dado.obitosDia}}</td>
          <td>{{ dado.obitosTotal}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>